@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.container{
    width: 90vw;
}
@media screen and (min-width:1439px) {
    .container{
        max-width: 1400px;
    }
}

input::-webkit-datetime-edit{
    padding: 1rem;
}

*{
    box-sizing: border-box
}


input[type="radio"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
  place-content: center;
  }
  .form-control + .form-control {
    margin-top: 1em;
  }
  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #7D4E24;
  }



  input[type="radio"]:checked::before {
    transform: scale(1);
  }

  input[type="checkbox"]{
    appearance: none;
    background-color: rgb(221, 221, 221);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.55em;
    height: 1.55em;
    /* border: 2px solid #c1bab4; */
    transform: translateY(-0.075em);
    display: grid;
  place-content: center;
  }
  
  input[type='checkbox']::before{
    content: "";
    width: 0.85em;
    height: 0.85em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #7D4E24;
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
.selCamp::-webkit-scrollbar {
    width: 2px;
}

.selCamp::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.selCamp::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(69, 14, 14, 0.5); 
}