@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.container{
    width: 85vw;
}
@media screen and (min-width:1439px) {
    .container{
        max-width: 1400px;
    }
}

input::-webkit-datetime-edit{
    padding: 1rem;
}

*{
    box-sizing: border-box
}

.react-datepicker__tab-loop{
    /* display: none !important; */
}